services:
  padel-analytics:
    build: .
    container_name: padel_analytics
    ports:
      - "8501:8501"
    volumes:
      - ./weights:/app/weights
      - ./examples:/app/examples
      - ./cache:/app/cache
      # Mount output file to host if desired, though app has download button
      - ./results.mp4:/app/results.mp4
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    stdin_open: true # docker run -i
    tty: true # docker run -t
